# Dependencies
node_modules/
.pnpm-store

# Build outputs
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# IDE & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
